*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
.headr{
    padding: 100px;
}
.form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}
.input{
    border-radius:20px;
    border: 2px solid #EA7C69;
    outline: none;
    background-color:transparent;
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;

    font-weight: 700;
}
.submit-btn{
    border-radius:20px;
    border: none;
    outline: none;
    padding: 5px 10px;
    background-color: #EA7C69;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
}
.cinema-list{
    list-style: none;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
}
.cinema-list__item{
    border-radius: 10px;
    background-color: #EA7C69;
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;
}
.cinema-list__item-img{
    height: 280px;
    border: 2px solid blueviolet;
    display: block;
    border-radius:inherit

}
.cinema-list__item-img,.cinema-list__item-heading{
    width: 200px;
}
.cinema-list__item-heading{
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
}
.cinema-list__item-year{
    margin: 5px 0;
    display: block;
    font-weight: 700;
}
.page-btns{
    display: flex;
    overflow-x: auto;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.page-btns::-webkit-scrollbar{
    height: 5px;
}
.page-btns::-webkit-scrollbar-thumb{
    background-color: #EA7C69;
}
.page-btns::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius:50px;
}
.page-btn{
    border-radius:5px;
    padding: 5px;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
@media only screen and (max-width:750px){
    .container{
        max-width: 600px;
    }
    
    .cinema-list__item-img,.cinema-list__item-heading{
        width: 180px;
        height: auto;
    }
    .cinema-list__item-heading{
    font-size: 22px;

    }
}
@media only screen and (max-width:700px){
    .container{
        max-width: 500px;
    }
    
    .cinema-list__item-img,.cinema-list__item-heading{
        width: 180px;
        height: auto;
    }
    .cinema-list__item-heading{
    font-size: 22px;

    }
}
@media only screen and (max-width:500px){
    .container{
        max-width: 300px;

    }
   .form{
       width: 300px;
   }
    .input{
        padding: 5px 10px;
        font-size: 14px;
    }
    .submit-btn{
        padding: 5px 10px;
        margin-left: 5px;
        font-size: 14px;
    }
    .cinema-list{
        justify-content: center;
    }
    .cinema-list__item-img,.cinema-list__item-heading{
        width: 200px;
        height: 280px;
    }
    .cinema-list__item-heading{
    font-size: 22px;

    }
    .page-btns{
        width: 205px;
    }
}